{{!-- {{yield}} --}}
<div id='nav'  >
    <h3 {{action 'hello' hiMap}}>Hi, this is  {{hiMap}} </h3>
    <div># of locations is  {{locations_.length}}
    <div># of delivered  is  {{numberOfDeliveredGroup}}</div>
        <ul>
  {{!-- {{#each loc in locations}} --}}
  {{#each locations_ as |loc index|}}
    <li id='loc-{{index}}'>
    <a href="#" href="#" {{action 'panTest' loc index}}> {{index}}:{{loc.latitude}}|{{loc.longitude}} </a>

    </li>
  {{/each}}
</ul>

    </div>
</div>