{{!-- {{yield}} --}}
<div id='nav' >
  <div class="ui small vertical menu">
    <a class="active teal item" {{action 'home'}}>
      Home
      <div class="ui small teal pointing left label">{{numberOfDeliveredGroup}} / {{groupsOfParcel.length}}/ {{cardParcel.length}}</div>
    </a>
    <div class="ui small dropdown item scrolling">
      Customers <i class="dropdown icon "></i>
      <div class="menu">
         {{#each groupsOfParcel as |group index|}}
          <div class="item" {{action 'groupTapped' group index}} >{{index}}:{{group.title}}</div>
          {{/each}}
      </div>
    </div>
    <div class="ui small dropdown item scrolling">
      Zips <i class="dropdown icon "></i>
      <div class="menu">
         {{#each territoryColletion.zipCollection as |territory index|}}
         <div class="item" {{action 'zoneTapped' territory index}} >
           {{territory.name}}
         </div>      
          {{/each}}
      </div>
    </div>
    <div class="ui small dropdown item scrolling">
      Zones <i class="dropdown icon "></i>
      <div class="menu">
        {{#each territoryColletion.zoneCollection  as |territory index|}}
           <div class="item" {{action 'zoneTapped' territory index}} >
             {{territory.name}}
           </div>      
        {{/each}}
      </div>
    </div>
    <div class="item button-menu">
        <div id='zone-maker' class="ui teal centered button" {{action 'zoneMaker'}}>1. Create </div>      
    </div>
  </div>

  {{#if zoneTapped.name}}
    <div class="ui small olive card" id='zone'>
    <div class="content">
      <div class="header">{{zoneTapped.name}}</div>
      <div class="meta">
        <select class="ui dropdown" {{action 'change' on='change'}}>
          {{#each territoryColletion.zipCollection as |zip  index|}}
            <option value="{{zip.name}}" selected={{index}}>
              {{zip.name}}
            </option>
          {{/each}}
        </select>

{{!--         <div class="ui circular labels">
        {{#each zoneTapped.path as |vertex  index|}}
          <a class="ui teal label">{{index}}</a>
        {{/each}}
        </div> --}}
      </div>
      <div class="description">

        {{!-- debug block info --}}

        {{!-- {{#each zoneTapped.path as |vertex  index|}} --}}
        {{!-- {<span>latitude: '{{vertex.latitude}}'</span>,<span>longitude: '{{vertex.longitude}}'</span>}, --}}
        {{!-- {{/each}} --}}

      </div>
    </div>
  </div>
  {{/if}}

</div>

<div id="cards" class="ui cards">

   {{#each cardParcel as |parcel index|}}

  <div class="card" id="card-{{index}}">
    <div class="content">
      <div class="header">
        {{parcel.name}}
        <span class="right floated " {{action 'hideCard' index}}><i class="remove icon"></i></span>
      </div>
      <div class="meta">
        {{parcel.invoicenumber}}
      </div>
      <div class="description">
        {{parcel.addr1}}  {{parcel.addr2}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        {{#if parcel.isDelivered}}
          <div class="ui basic red button" {{action 'cardUndo' parcel}}>Cancle</div>
        {{else}}
          <div class="ui basic green button"  {{action 'cardConfirmed' parcel}} >Confirm</div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- <h3 {{action 'hello' hiMap}}>Hi, this is  {{hiMap}} </h3> --}}
