{{!-- {{yield}} --}}
<div id='nav' >
  <div class="ui small vertical menu">
    <a class="active teal item" {{action 'home'}}>
      Home
      <div class="ui small teal pointing left label">{{numberOfDeliveredGroup}} / {{groupsOfParcel.length}}/ {{cardParcel.length}}</div>
    </a>
    <div class="ui small dropdown item scrolling">
      Customers <i class="dropdown icon "></i>
      <div class="menu">
        {{!-- <div class="item">Choice 1</div> --}}
         {{#each groupsOfParcel as |group index|}}
          <div class="item" {{action 'groupTapped' group index}} >{{index}}:{{group.title}}</div>
          {{/each}}
      </div>
    </div>
    <a class="item">
      Longitude
      <div class="ui label">{{groupTapped.longitude}}</div>
    </a>
    <a class="item">
      Latitude
      <div class="ui label">{{groupTapped.latitude}}</div>
    </a>
    <div class="ui small dropdown item scrolling">
      Zones <i class="dropdown icon "></i>
      <div class="menu">
        {{!-- <div class="item">Choice 1</div> --}}
         {{#each zonePolygons as |zone index|}}
          <div class="item" {{action 'zoneTapped' zone index}} >{{zone.name}}</div>
          {{/each}}
      </div>
    </div>
    <div class="item">
    <a id='zone-maker' class="ui button" {{action 'zoneMaker'}}> <i class="edit icon"></i> zone maker</a>
    </div>
  </div>

  <div class="ui small olive card" id='zone'>
    <div class="content">
      <i class="right floated save icon"></i>
      <div class="header">{{zoneTapped.name}}</div>
      <div class="meta">
{{!--         <span class="right floated time">dummy</span>
        <span class="category">dummy</span> --}}
      </div>
      <div class="description">
        {{!-- debug block info --}}

        {{!-- {{#each zoneTapped.path as |vertex  index|}} --}}
        {{!-- {<span>latitude: '{{vertex.latitude}}'</span>,<span>longitude: '{{vertex.longitude}}'</span>}, --}}
        {{!-- {{/each}} --}}



      </div>
    </div>
  </div>

</div>

<div id="cards" class="ui cards">

   {{#each cardParcel as |parcel index|}}

  <div class="card" id="card-{{index}}">
    <div class="content">
      <div class="header">
        {{parcel.name}}
        <span class="right floated " {{action 'hideCard' index}}><i class="remove icon"></i></span>
      </div>
      <div class="meta">
        {{parcel.invoicenumber}}
      </div>
      <div class="description">
        {{parcel.addr1}}  {{parcel.addr2}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        {{#if parcel.isDelivered}}
          <div class="ui basic red button" {{action 'cardUndo' parcel}}>Cancle</div>
        {{else}}
          <div class="ui basic green button"  {{action 'cardConfirmed' parcel}} >Confirm</div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- <h3 {{action 'hello' hiMap}}>Hi, this is  {{hiMap}} </h3> --}}
