{{!-- {{yield}} --}}
<div id='nav' >
  <div class="ui small vertical menu">
    <a class="active teal item" {{action 'home'}}>
      Home
    </a>
    <div class="ui small dropdown item scrolling">
      Customers <i class="dropdown icon "></i>
      <div class="menu">
         {{#each groupsOfParcel as |group index|}}
          <div class="item" {{action 'groupTapped' group index}} >{{index}}:{{group.title}}</div>
          {{/each}}
      </div>
    </div>
    <div class="ui small dropdown item scrolling">
      Territories <i class="dropdown icon "></i>
      <div class="menu">
          <a class="item">
            <i class="add square icon"></i>
            Add a Territory
          </a>
          <div role="separator" class="divider"></div>
         {{#each territoryCollection as |territory index|}}
          <div class="item" {{action 'didTapTerritory' territory index}} >{{territory.name}}({{index}})</div>
          {{/each}}
      </div>
    </div>
  </div>

  {{#if zoneTapped.name}}
  <div class="ui small vertical menu">
    <a class="item active">
      Chosen Zip
      <div class="ui teal pointing left label">{{zoneTapped.name}}</div>
    </a>
  </div>
  {{/if}}

</div>
{{!-- nav --}}

{{!-- cards on left --}}
<div id="cards" class="ui cards">

   {{#each cardParcel as |parcel index|}}

  <div class="card" id="card-{{index}}">
    <div class="content">
      <div class="header">
        {{parcel.name}}
        <span class="right floated " {{action 'hideCard' index}}><i class="remove icon"></i></span>
      </div>
      <div class="meta">
        {{parcel.invoicenumber}}
      </div>
      <div class="description">
        {{parcel.addr1}}  {{parcel.addr2}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        {{#if parcel.isDelivered}}
          <div class="ui basic red button" {{action 'cardUndo' parcel}}>Cancle</div>
        {{else}}
          <div class="ui basic green button"  {{action 'cardConfirmed' parcel}} >Confirm</div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{!-- cards on left --}}



{{!-- content --}}
<div class="fullscreen modal" >
  <div id='modal-container'>

    <div class="content">
        <div class="header"><h3>Territory-{{territoryDidTap.name}}<span id="modal-btn-close" {{action 'hideCard' index}}><i class="remove icon"></i></span></h3></div>
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search countries...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>

         <table class="ui celled table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Territory</th>
              <th>Postal Code</th>
            </tr>
          </thead>
          <tbody>
           {{#each territoryDidTap.zipCollection as |zip index_|}}
            <tr onclick={{action 'TappedZoneMap' zip index_ true}}>
              <td>{{index_}}</td>
              <td class="negative">{{territoryDidTap.name}}</td>
              <td>{{zip.name}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
    <div class="actions">
      <div class="ui approve button">Approve</div>
      <div class="ui button">Neutral</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

</div>
